.cards-container {
  display: grid;  /* Используем CSS Grid */
  grid-template-columns: repeat(3, 1fr); /* Три колонки */
  gap: 1rem; /* Промежуток между карточками */
}

.list-view-container {
  display: flex;
  flex-direction: column; /* Выстраиваем элементы в столбик */
  align-items: center; /* Центрируем по горизонтали */
  justify-content: center; /* Центрируем по вертикали */
  width: 90%; /* Ширина контейнера */
  max-width: 800px; /* Максимальная ширина контейнера */
  margin: 0 auto; /* Центрируем контейнер */
}

.list-item {
  display: flex; /* Используем Flexbox для выстраивания */
  align-items: center; /* Центрируем элементы по вертикали */
  margin: 10px 0; /* Отступ между элементами списка */
  padding: 10px; /* Внутренний отступ */
  width: 100%; /* Ширина на 100% */
  max-width: 800px; /* Установите ширину для более четкого отображения */
  border: 1px solid #ddd; /* Граница */
  border-radius: 8px; /* Скругление углов */
}

.item-image {
  width: 100px;      /* Задаем фиксированную ширину изображений */
  height: auto;      /* Сохраняем пропорции */
  margin-right: 15px; /* Отступ между изображением и текстом */
}

.shop-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  width: 100%;  /* Установите ширину на 100% для карточек */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 500px; /* Установите адекватную ширину изображений */
  height: auto; /* Сохраняем пропорции */
  margin-right: 10px; /* Отступ между изображением и текстом */
}

/* Оставшиеся стили */
.price {
  color: red; /* Красное отображение цены */
}

.add-to-cart {
  color: red; /* Красное отображение текста "Add to Cart" */
  border: none;
  background-color: transparent;
  cursor: pointer;
}